.modal-check{
    width: 60%;
    background: var(--body);
    border-radius: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.view-info-event{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.info-where-event{
    display: flex;
    flex-direction: column;
    padding: 15px 12px 15px 16px;
    border-radius: 24px;
    background: var(--disclaimer);
    gap: 8px;
}

#dateEvent{
    font-family: RedCollarTTF;
}

#locationEvent{
    font-family: TT;
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
}

#descriptionEvent{
    display: block;
    font-family: TT;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding: 0px 0px 32px 32px;
}

.participants-event{
    width: 100%;
} 

.photos-event{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 44px;
}

.header-gallery{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btns-navigate{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.subtitle-modal{
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
}

.participants-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    align-items: center;
}

.participant{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5px;
}

.gallery{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
    transition: all 0.3s ease-in-out;
}

.disable-btn{
    opacity: 0.5;
    pointer-events: none;
}

.pagination{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin: auto;
}

.pagination-vector{
    width: 33px;
    height: 4px;
    background-position: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='4' viewBox='0 0 33 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' width='32' height='4' rx='2' fill='%23EFEFEF'/%3E%3C/svg%3E%0A");
}

.pagination-vector-active{
    width: 33px;
    height: 4px;
    background-position: center;
    align-items: center;
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='4' viewBox='0 0 33 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' width='32' height='4' rx='2' fill='%23F51B1B'/%3E%3C/svg%3E%0A");
}