.modal-congrat{
    width: 770px;
    height: 510px;
    background: var(--body);
    border-radius: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 0 0px 0;
    overflow: hidden;
}

.modal-content-congrat{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 76px;
    padding: 16px 0px 64px 80px;
    position: relative;
    z-index: 1000;
}

#congrat-title{
    font-size: 64px;
    line-height: 76.8px;
    text-align: left;
}

#congrat-subtitle{
    font-size: 18px;
    color: var(--btn-passive);
}

.event-title-congrat{
    font-size: 18px;
    font-weight: 400;
    color: var(--btn-hover);
}

#congrat-btn{
    width: 164px;
}

.congrat-img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.when{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.day-of-week-event-desc{
    border-right: 1px solid var(--cell-disable);
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    padding-right: 16px;
}

.date-event-desc{
    width: 30%;
    border-right: 1px solid var(--cell-disable);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 16px;
}

.time-event-info-desc{
    width: 20%;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    padding-left: 16px;
}

.description-event{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.description-event-congrat{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}